{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="site-section pt-5">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row">
                        {% for object in objects %}
                            <div class="col-md-12">
                                <h2 class="mb-4">{{ object.title }}</h2>
                                <p class="mb-5"><img src="{{ object.image.url }}" alt="Image placeholder"
                                                     class="img-fluid"></p>
                                <p>{{ object.description }}</p>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12 mb-5">
                            <h2>My Latest Posts</h2>
                        </div>
                        {% for obj in objs %}
                            <div class="col-md-12">
                                <div class="post-entry-horzontal">
                                    <a href="{% url 'post_views_up' obj.pk %}">
                                        <div class="image"
                                             style="background-image: url({{ obj.image.url }});"></div>
                                        <span class="text">
<div class="post-meta">
<span class="author mr-2"><img src="{{ obj.author.avatar.url }}" alt="Colorlib"> {{ obj.author.user }}</span>&bullet;
<span class="mr-2">{{ obj.created_at|date:'M d, Y' }} </span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> {{ obj.comments.count }}</span>
</div>
<h2>{{ obj.title }}</h2>
</span>
                                    </a>
                                </div>

                            </div>

                        {% endfor %}

                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    {% if objs.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ objs.previous_page_number }}">&lt;</a>
                                        </li>
                                    {% endif %}
                                    {% for obj in objs.paginator.page_range %}
                                        {% if obj.number == i %}
                                            <li class="page-item {% if obj == objs.number %} active {% endif %}"><a
                                                    class="page-link"
                                                    href="?page={{ obj }}">{{ obj }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ obj }}">{{ obj }}</a></li>

                                        {% endif %}


                                    {% endfor %}
                                    {% if objs.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ objs.next_page_number }}">&gt;</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

                {% include 'wordify/sidebar.html' with tags=tags %}

            </div>
        </div>
    </section>
{% endblock %}